
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

body {
    background-color: lightblue;
  }
  
  h1 {
    font-family: Sofia;
    color:slateblue;
    border:lightgoldenrodyellow;
    text-align: center;
    font-size: x-large;
  }
  
  p {
    font-family: verdana;
    font-size: 16px;
  }