
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

body {
    background-color: lightblue;
  }
  
  h1 {
    font-family: Sofia;
    color:slateblue;
    border:lightgoldenrodyellow;
    text-align: center;
    font-size: 48px;
  }
  
  p {
    font-family: verdana;
    font-size: 16px;
    text-align: center;
  }

  img {
    max-width: 80%;
    height: auto;
    align-content: center;
  }